<app-header />

<main>
  <div id="dashboard">
    <!-- Używam tutaj property binding [image] ponieważ poprzez objęcie tego property w kwadratowe nawiasy mówie angularowi że będe przesyłał w tym property javaScript obiekt lub coś, bez [] prostu ustawiam property i mogę przesłać same dane jak o string, generalnie to są przeze mnie utworzone inputy -->
    <app-dashboard-item
      [image]="{ src: 'status.png', alt: 'A signal symbol' }"
      title="Server status"
      ><app-server-status
    /></app-dashboard-item>
    <app-dashboard-item
      [image]="{ src: 'globe.png', alt: 'A globe' }"
      title="Traffic"
      ><app-traffic
    /></app-dashboard-item>
    <app-dashboard-item
      [image]="{ src: 'list.png', alt: 'A list of items' }"
      title="Support tickets"
      ><app-tickets
    /></app-dashboard-item>
  </div>
</main>
